* {
	padding: 0;
	margin: 0;
	border: 0;
	}

*, *, *:before, *:after {
    box-sizing: border-box;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }

.intro{
    background-color: #121212;
    max-height: 100%;
    max-width: 100%;
}

.header{
width: 100%;
max-height: 64px;
background-color: #2a2a2a;
color: #fff;
font-style:bold;
letter-spacing: 10px;
font-weight: 600;
}

.h-elements{
    display: flex;
    justify-content: space-between;
}

.logoimg{
    width: 100px;
    height: 25px;
}

.menuul{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase; 
    padding: 0px;
    margin: 0px;
}

.menuelements{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.spi{
    display: flex;
}

.search{
    padding: 16px;
}

.search-box{
    background-color: white;
    border-radius: 40px;
    border: none;
    width: 140px;
    height: 30px;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    height: 100%;
    padding-left: 10px;
    display: flex;
    color: black;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: black;
    
}

.src-btn {
    padding: 4px;
    color: #808080;
    text-decoration:none;

  }

.icons{
    padding: 20px;
    text-decoration:none;
    color: #808080;

}


.landing{
    width: 100%;
    height: 100%;
    display: block;
}

.landing-page{
    width: 100%;
    height: 578px;
    display: block;
    background-image: url("imgs/landingpage.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 50px;
    border-radius: 50px;
}

.h1-container{
    width: 50%;
    padding-top: 120px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: #fff;
}

.landing-btn{
    width: 220px;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    padding-top: 12px;
    padding-left: 22px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.landing-btn-2{
    width: 260px;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    padding-top: 12px;
    padding-left: 22px;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.landing-page-two{
    margin: 40px;
}

.h1class{
    margin-top: 150px;
    text-align: center;
    color:#fff;
}

.catalog-cards{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #fff;

}

.catalog-card-1{
    width: 216px;
    height: 315px;
    background-image: url(imgs/GTAV.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.catalog-card-2{
    width: 216px;
    height: 315px;
    background-image: url(imgs/VAL.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.catalog-card-3{
    width: 216px;
    height: 315px;
    background-image: url(imgs/EGS_HonkaiImpact3rd_miHoYoLimited_S2_1200x1600-1b38bfc22a3cbe6a187573afb4811860.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.catalog-card-parent{
    width: 100%;
    height: 100%;
    padding: 54px;
}

.footer{
    background-color: #2a2a2a;
}